.input-ui {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: rem(8px);

  @include custom-placeholder;

  input {
    width: 100%;
    height: rem(60px);
    padding: rem(29px) rem(62px) rem(22px) rem(24px);

    font-size: rem(16px);
    font-weight: 420;
    line-height: 110%;
    color: var(--unnamed, #62215b);

    background: #f8f4f8;
    border: 1px solid var(--unnamed, #f0e7ef);
    caret-color: #62215b;

    transition: $transition;

    caret-width: 1px;

    &::placeholder {
      opacity: 0;
    }

    &:focus {
      border: 1px solid var(--1, #62215b);
      box-shadow: 0 rem(10px) rem(16px) rgb(0 0 0 / 5%);
    }
  }

  .parsley-errors-list {
    margin-top: rem(6px);

    font-size: rem(10px);
    font-weight: 420;
    line-height: 110%;
    color: #e62929;
    text-transform: uppercase;

    @media #{media('<',d)} {
      font-size: rem(8px);
    }
  }
}
